@model GoldenChicken.Core.Models.StaticContentDetail
<section class="aboutus pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="history-title mb-md-40">
                    <h2 class="text-light-black">مروری کوتاه بر جوجه طلایی </h2>
                    <p class="text-light-white">
                        @Model.ShortDescription
                    </p>
                    @*<a class="btn-second btn-submit" href="#">
                        تاریخچه ما
                    </a>*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="histry-img mb-xs-20">
                            <img src="/Files/StaticContentImages/Image/@Model.Image"
                                 class="img-fluid full-width" alt="@Model.Title">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

