<div class="container">
        <div style="margin: 0 auto; text-align: center; padding: 200px 0">
                <h2 >پیام شما با موفقیت ثبت شد</h2>
                        <span class="sep-icon-before sep-center sep-solid"></span>
                        <span class="icon-wrap"><i class="autora-icon-build"></i></span>
                        <span class="sep-icon-after sep-center sep-solid"></span>
                <span class="class more-link"><a href="/">بازگشت به صفحه اصلی</a></span>
        </div><!-- /.col-md-12 -->
</div>