<header class="main-header">
    <div class="header-navigation sticky-nav shadow">
        <div class="container-fluid">
            <div class="row">
                <!-- Logo Start -->
                <div class="col-xl-1 col-md-2 col-sm-3 mt-1">
                    <div class="logo">
                        <a href="/"><img class="img-fluid" src="/Content/client/img/logo.jpg" alt="logo"></a>
                    </div>
                </div>
                <!-- Logo End -->
                <!-- Navigation Start -->
                <div class="col-xl-11 col-md-10 col-sm-9">
                    <!--Main Navigation Start -->
                    <div class="main-navigation d-none d-lg-block">
                        <ul>
                            <li><a href="/">صفحه اصلی</a></li>
                            <li><a href="/Gallery">گالری</a></li>
                            <li><a href="/AboutUs">درباره ما</a></li>

                            <li class="menu-dropdown">
                                <a href="/Blog">
                                    بلاگ
                                </a>

                            </li>
                            <li><a href="/ContactUs">تماس با ما</a></li>
                            <li><a href="/OurTeam">مدیران</a></li>
                            <li><a href="/Certificates">گواهینامه ها</a></li>
                            <li><a href="/Foods">غذا ها</a></li>
                        </ul>
                    </div>
                    <!--Main Navigation End -->
                    <!--Header Bottom Account Start -->
                    <div class="header_account_area">
                        <!--Seach Area Start -->
                        <!--Seach Area End -->
                        <!--Contact info Start -->
                        <div class="contact-link" style="margin-left: 16px">
                            <div class="phone">
                                <p>اشتراک گزاری</p>
                                <a href="javascript:void(0)"onclick="sharePage('@Request.Url.AbsoluteUri')"  class="d-block text-center"><i class="fas fa-share"></i></a>

                            </div>
                        </div>
                        <div class="contact-link">
                            <div class="phone">
                                <p>با ما تماس بگیرید:</p>
                                <a href="tel:@ViewBag.Phone" class="d-block text-center">@ViewBag.Phone</a>

                            </div>
                        </div>
                        <!--Contact info End -->
                        <!--Cart info Start -->
                        <!--Cart info End -->
                    </div>
                </div>
            </div>
            <!-- mobile menu -->
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active" style="display: block;">
                        <ul class="menu-overflow">
                            <li>
                                <a href="/">صفحه اصلی</a>
                            </li>
                            <li><a href="/Gallery">گالری</a></li>
                            <li><a href="/AboutUs">درباره ما</a></li>

                            <li>
                                <a href="/Blog">بلاگ</a>
                            </li>
                            <li><a href="/ContactUs">تماس با ما</a></li>
                            <li><a href="/OurTeam">مدیران</a></li>
                            <li><a href="/Certificates">گواهینامه ها</a></li>
                            <li><a href="/Foods">غذا ها</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- mobile menu end-->
        </div>
    </div>
</header>
<!--Alert Modal -->
<script>
    function message(msg) {
        if (Notification) {
            if (Notification.permission === "granted") {
                var notification = new Notification("آدرس با موفقیت کپی شد", { body: msg });
                setTimeout(function() {notification.close()}, 3000);
            } else { Notification.requestPermission(); }
        }
        else { alert(msg);}
    }
    function sharePage(copyText) {
        document.execCommand("copy");
        message(copyText);
        //var notification = new Notification("آدرس با موفقیت کپی شد", { body: copyText });
        //setTimeout(function() {notification.close()}, 3000);
    }
</script>